.shadowPhoto {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  margin-top: -10px;
}

.marginTop {
  margin-top: 40px;
  margin-bottom: -20px;
}

.boxInfo {
  background-color: #3f3a36;
  width: 100%;
  margin-top: -5px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  box-shadow: inset 0 0 10px #000000;
}

.enveBox {
  margin-left: 37%;
  margin-top: 60px;
}

.enveBoxMobil {
  margin-left: 35%;
  margin-top: 25px;
}

.boxInfoText {
  width: 80%;
  height: 100%;
  border-width: 2px;
  background-color: #3f3a36;
  border-color: #f1f2f2;
  margin-top: 60px;
  margin-left: 10%;
  margin-bottom: 60px;
}

.boxInfoTextMobil {
  width: 90%;
  height: 100%;
  border-width: 2px;
  background-color: #3f3a36;
  border-color: #f1f2f2;
  margin-top: 30px;
  margin-left: 5%;
  margin-bottom: 30px;
}

.text {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.text1 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-right: 3%;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.textCenter {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  color: #f1f2f2;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.textMobil {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: #f1f2f2;
  margin: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.textMobil2 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  line-height: 23px;
  color: #f1f2f2;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.paragraf {
  color: #3f3a36;
}

.slideShow {
  margin-top: 65px;
}

.firstLitenBox {
  background-color: #3f3a36;
  border-width: 1px;
  border-color: #3f3a36;
  opacity: 0.85;
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 2%;
}

.firstLitenBoxMobil {
  background-color: #3f3a36;
  border-width: 1px;
  border-color: #3f3a36;
  opacity: 0.85;
  width: 70%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-right: 5%;
}

.heleBox {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.heleBoxMobil {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.heleLitenBox {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.litenBoxText {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.litenBoxText:hover {
  color: rgb(189, 189, 189);
}

.imageBox {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.imageBox1 {
  width: 100%;
  background-blend-mode: soft-light;
  background-color: #674923;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.imageBox2 {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.førsteInfoBox {
  background-color: #3f3a36;
  width: 100%;
  margin-top: -5px;
  justify-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: inset 0 0 10px #000000;
}

.førsteInfoBoxMobil {
  background-color: #3f3a36;
  width: 100%;
  margin-top: -5px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  box-shadow: inset 0 0 10px #000000;
}

.førsteBoxInfoText {
  background-color: #3f3a36;
  border-width: 1px;
  border-color: #3f3a36;
  border-color: #f1f2f2;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.førsteBoxInfoTextMobil {
  width: 90%;
  height: 60%;
  background-color: #3f3a36;
  border-width: 1px;
  border-color: #3f3a36;
  border-color: #f1f2f2;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.førsteBoxInfoTextMargin {
  margin-right: 8%;
}

.førsteBoxInfoTextMobilMargin {
  margin-top: -5px;
}

.top1 {
  margin-top: -155px;
}

.top2 {
  margin-top: -65px;
}

.overskriftText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 30px;
  color: #f1f2f2;
  display: flex;
  top: 0;
  justify-content: center;
  justify-items: center;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.overskriftTextMobil {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-top: 100px;
  color: #f1f2f2;
  margin: 40px;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.navbar-line {
  margin-top: 10px;
  border-bottom: 1px solid;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 30px;
  color: white;
}

.bunnLine {
  margin-top: 60px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.bunnLineMobil {
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
}

.bunnBox {
  width: 20%;
  height: 20%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 12%;
  margin-right: 10%;
}

.bunnBoxMobil {
  width: 50%;
  height: 50%;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.bunnBoxMobil1 {
  width: 50%;
  height: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.bunnText {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.bunnTextMobil {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  color: #f1f2f2;
  margin: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.bunnTextAdresse {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin-left: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.bunnTextAdresseMobil {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  color: #f1f2f2;
  margin-left: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.bunnFlex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.iconMarginLeft {
  margin-left: -3px;
}

.iconMarginTop {
  margin-top: 12px;
}

.bunnKontakt {
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-items: right;
}

.bunnKontaktTextBox {
  display: flex;
  flex-direction: row;
}

.bunnKontaktText {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin-top: 15px;
  margin-left: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.bunnKontaktTextMobil {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  color: #f1f2f2;
  margin-top: 10px;
  margin-left: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.modalText {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #f1f2f2;
  letter-spacing: 1px;
  line-height: 18px;
  word-spacing: 1px;
}

.modalTextMobil {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #f1f2f2;
  letter-spacing: 1px;
  line-height: 14px;
  word-spacing: 1px;
}

.modalOverskriftText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #f1f2f2;
  margin-top: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.modalOverskriftTextMobil {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #f1f2f2;
  margin-top: -15px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.modalButton {
  justify-content: center;
  justify-items: center;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.modalInfo {
  width: 100%;
  height: 100%;
  border-width: 1px;
  background-color: #3f3a36;
  border-color: #f1f2f2;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: lightslategrey;
}

.modalContent {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 40%;
  height: 45%;
  margin-top: 15%;
  margin-left: 30%;
  background-color: #3f3a36;
  backdrop-filter: inherit;
}

.modalContentMobil {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 80%;
  height: 45%;
  margin-top: 35%;
  margin-left: 10%;
  background-color: #3f3a36;
}

.modalLukk {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 13px;
  color: #f1f2f2;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-bottom: 2%;
}
