.shadowPhoto {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.marginTop {
  margin-top: 40px;
  margin-bottom: -20px;
}

.boxInfo {
  background-color: #3f3a36;
  width: 100%;
  margin-top: -5px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  box-shadow: inset 0 0 10px #000000;
}

.enveBox {
  margin-left: 37%;
  margin-top: 60px;
}

.boxInfoText {
  width: 80%;
  height: 100%;
  border-width: 2px;
  background-color: #3f3a36;
  border-color: #f1f2f2;
  margin-top: 60px;
  margin-left: 10%;
  margin-bottom: 60px;
}

.text {
  font-family: "Nunito", sans-serif;
  font-style: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 22px;
  line-height: 35px;
  color: #f1f2f2;
  margin: 50px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.paragraf {
  color: #3f3a36;
}

.firstLitenBox {
  background-color: #3f3a36;
  border-width: 1px;
  border-color: #3f3a36;
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 2%;
}

.heleBox {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.heleLitenBox {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.litenBoxText {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  font-style: 500;
  font-size: 16px;
  color: white;
}

.imageBox {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.imageBox1 {
  width: 100%;
  background-blend-mode: soft-light;
  background-color: #674923;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.imageBox2 {
  width: 100%;
  background-blend-mode: overlay;
  background-size: cover;
}

.førsteInfoBox {
  background-color: #3f3a36;
  width: 100%;
  margin-top: -5px;
  display: flex;
  justify-items: center;
  flex-direction: row;
  box-shadow: inset 0 0 10px #000000;
}

.førsteBoxInfoText {
  width: 80%;
  height: 100%;
  border-width: 2px;
  background-color: #3f3a36;
  border-width: 1px;
  border-color: #3f3a36;
  border-color: #f1f2f2;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 2%;
  margin-right: 2%;
}

.overskriftText {
  font-family: "Roboto", sans-serif;
  font-style: 500;
  font-size: 32px;
  margin-top: 100px;
  color: #f1f2f2;
  margin: 50px;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.navbar-line {
  margin-top: 10px;
  border-bottom: 1px solid;
  margin-left: 8%;
  margin-right: 8%;
  color: white;
}

.bunnLine {
  margin-top: 60px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.bunnBox {
  width: 20%;
  height: 20%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 12%;
  margin-right: 10%;
}

.bunnText {
  font-family: "Nunito", sans-serif;
  font-style: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.bunnTextAdresse {
  font-family: "Nunito", sans-serif;
  font-style: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin-left: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.bunnFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.iconMarginLeft {
  margin-left: -3px;
}

.iconMarginTop {
  margin-top: 17px;
}

.bunnKontakt {
  display: flex;
  flex-direction: column;
}

.bunnKontaktTextBox {
  display: flex;
  flex-direction: row;
}

.bunnKontaktText {
  font-family: "Nunito", sans-serif;
  font-style: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #f1f2f2;
  margin-top: 15px;
  margin-left: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.modalText {
  font-family: "Nunito", sans-serif;
  font-style: 600;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #f1f2f2;
  letter-spacing: 1px;
  line-height: 18px;
  word-spacing: 1px;
}

.modalOverskriftText {
  font-family: "Roboto", sans-serif;
  font-style: 500;
  font-size: 17px;
  color: #f1f2f2;
  margin-top: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.modalButton {
  justify-content: center;
  justify-items: center;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.modalInfo {
  width: 100%;
  height: 100%;
  border-width: 1px;
  background-color: #3f3a36;
  border-color: #f1f2f2;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: lightslategrey;
}

.modalContent {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 40%;
  height: 45%;
  margin-top: 15%;
  margin-left: 30%;
  background-color: #3f3a36;
  backdrop-filter: inherit;
}

.modalLukk {
  font-family: "Nunito", sans-serif;
  font-style: 600;
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 13px;
  color: #f1f2f2;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-bottom: 2%;
}
